// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {
  --font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Avenir Next", avenir, "Helvetica Neue", Helvetica, Ubuntu,
    Roboto, Noto, Segoe ui, Arial, sans-serif;
  --font-family-display: "Roboto", -apple-system, BlinkMacSystemFont, "Avenir Next", avenir, "Helvetica Neue", Helvetica,
    Ubuntu, Roboto, Noto, Segoe Ui, Arial, sans-serif;
  --font-family-mono: "Roboto Mono", Menlo, Consolas, Monaco, "Liberation Mono", Lucida Console, monospace;
  --font-size-small: 12px;

  --primary-color: #384c5f;
  --header-bg: #384c5f;

  --primary-dark: #26333f;

  --home-link-color: #3f7ba1;
  --home-link-hover-color: var(--primary-color);

  --button-color: #d7ebff;
  --button-alternate-color: #384c5f;

  --post-link-color: #0f070b;

  --nav-link-hover-bg: #111;
  --text-color-meta: rgba(0, 0, 0, 0.5);

  --label-text: rgba(0, 0, 0, 0.5);
  --input-focus-border: #83aaac;

  // CSS Grid Utility
  --grid-gap: 30px;
}
